.text-center.cta
  %i.material-icons announcement
  %h2 Você ainda não possui nenhum vídeo cadastrado!
  %h3 Comece agora mesmo:
  = link_to 'Novo vídeo', new_panel_video_path, class: 'btn btn-raised btn-success'
