%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ 'data-target' => '.navbar-ex-collapse', 'data-toggle' => 'collapse', type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to panel_root_path, class: 'navbar-brand' do
        Logo
    %ul.nav.top-nav.navbar-right
      %li
        %a.blue
          %i.material-icons perm_identity
          = current_user.name
      %li.full-screen
        %a{ onclick: 'toggleFullScreen()', href: '', class: 'blue', 'data-original-title': 'Tela cheia', 'data-placement': 'bottom', 'data-toggle': 'tooltip' }
          %i.material-icons settings_overscan
      %li
        = link_to destroy_user_session_path, id: 'exit', method: 'delete', class: 'blue', 'data-original-title': 'Sair', 'data-placement': 'bottom', 'data-toggle': 'tooltip' do
          %i.material-icons power_settings_new
  = render 'layouts/panel/sidebar'
