.navbar-collapse.collapse.navbar-ex-collapse
  %ul.nav.navbar-nav.side-nav
    %li
      = link_to panel_terminals_path do
        %i.material-icons video_label
        Terminais
    %li
      = link_to panel_playlists_path do
        %i.material-icons playlist_play
        Playlists
      %ul
        %li.disabled
          %a.withoutripple
            %i.material-icons featured_video
            Templates
    %li.disabled
      %a.withoutripple
        %i.material-icons video_library
        Biblioteca
      %ul
        %li
          = link_to panel_videos_path do
            %i.material-icons videocam
            Videos
        %li
          = link_to panel_images_path do
            %i.material-icons insert_photo
            Imagens
    %li.disabled
      %a.withoutripple
        %i.material-icons rss_feed
        RSS Feeds
    %li.disabled
      %a.withoutripple
        %i.material-icons credit_card
        Fatura
