.text-center.cta
  %i.material-icons announcement
  %h2 Você ainda não possui nenhuma imagem cadastrada!
  %h3 Comece agora mesmo:
  = link_to 'Nova imagem', new_panel_image_path, class: 'btn btn-raised btn-success'
