- provide(:title, 'Imagens')
- provide(:dashboard_title, 'Imagens')

.content-header.row
  .col-md-4.col-md-offset-4
    = paginate @images
  .col-md-3.col-md-offset-1.text-right
    = link_to 'Nova imagem', new_panel_image_path, class: 'btn btn-raised btn-success'

= render 'gallery'
= render 'modal'
