.navbar-collapse.collapse.navbar-ex-collapse
  %ul.nav.navbar-nav.side-nav
    %li
      %a
        %i.material-icons video_label
        Terminais
    %li
      %a
        %i.material-icons group
        Usuários
    %li
      %a
        %i.material-icons credit_card
        Faturas
