.navbar-collapse.collapse.navbar-ex-collapse
  %ul.nav.navbar-nav.side-nav
    %li
      = link_to admin_terminals_path do
        %i.material-icons video_label
        Terminais
    %li
      = link_to admin_users_path do
        %i.material-icons group
        Usuários
    %li.disabled
      %a.withoutripple
        %i.material-icons credit_card
        Faturas
