.row
  .col-md-10.col-md-offset-1
    .jumbotron
      .text-center
        = image_tag('myscreen.png', alt: 'MyScreen', size: '240x55')
        %br
        %br
        %h2 Um novo jeito de fazer propaganda!
        %br
        %a{ href: '#more', class: 'btn btn-raised btn-primary' }
          Saiba mais
%br
%br

%section{ id: 'more' }
  .row
    .col-lg-6
      %h3 Gerencie os seus terminais
      %p Configure para o seu terminal uma lista de reprodução com as suas mídias, escolha um template de sua preferência.
      %br
      %h3 Mídias e Feeds
      %p Adicione as suas mídias, imagens, vídeos, tudo em um só lugar. Monte a sua própria biblioteca de mídias!
      %p Também é possível vincular um RSS Feed ou uma conta no Twitter pra alimentar o seu terminal com o conteúdo de sua escolha.

    .col-lg-6
      = image_tag('ss_system.png', alt: 'Tela do Sistema', class: 'img-thumbnail')

%br
%br
