.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbar-admin { background-color: #F44336 !important; }

.brown:hover {
  color: #fff;
  background-color: #B71C1C !important;
}

.navbar-right {
  float: right !important;
  margin-right: -15px;
}

.navbar-toggle{
  margin-top: 11px;
}

.top-nav {
  padding: 0;
  margin: 0;
}

.top-nav>li {
  display: inline-block;
  float: left;
}

.top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #fafcfe;
}

@media(min-width:1200px) {
  .top-nav>li>a {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
  color: #fff;
  background-color: #0194d9;
}

.top-nav>.open>.dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
  white-space: normal;
}

@media (max-width: 768px) {
  .navbar .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
