/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap";

@import "bootstrap-material-design/bootstrap-material-design";
@import "bootstrap-material-design/ripples";

@import "partials/navbar";
@import "partials/sidebar";
@import "*";

html { background-color: #EEEEEE; }

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

body.body-padding {
  min-width: 260px;
  width: auto !important;
  width: 260px;
  padding-top: 60px; }

@media(max-width: 768px) {
  body.body-padding { padding-top: 105px; }
}

h1 { margin-top: 0 }

legend { margin-bottom: 10px; }

hr { background-color: #bababa; }

.jumbotron { margin-top: 30px; }

.alert { margin-bottom: 10px; }

.full-screen .tooltip { width: 74px; }

.margin-20 {
  .well { margin-top: 20px; }
}

#wrapper { padding-left: 0; }

#page-wrapper {
  width: 100%;
  padding: 0;
  .container-fluid { padding-top: 10px; }
}

@media(min-width:1200px) {
  #page-wrapper .container-fluid {
    padding-top: 15px;
  }
}

@media(min-width:768px) {
  #wrapper { padding-left: 225px; }
  #page-wrapper { padding: 10px; }
}

.login-card {
  margin-top: 50px;
  .logo {
    margin: 5px 0 15px 0;
    display: initial; }
}

.thumbnail {
  img { padding: 10px 10px 0 10px }
  h3 { margin-top: 0 }
  p { margin-bottom: 0 }
}

.dashboard-header {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.content-header {
  .pagination { margin-top: 10px; }
  .btn-success { margin-bottom: 20px; }
}

#error-explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0; }
}

.field_with_errors { @extend .has-error; }
