- provide(:title, 'Usuários')
- provide(:dashboard_title, 'Usuários')

.content-header.row
  .col-md-4.col-md-offset-4
    = paginate @users
  .col-md-3.col-md-offset-1.text-right
    = link_to 'Novo usuário', new_admin_user_path, class: 'btn btn-raised btn-success'

= render 'table'
