.navbar-collapse.collapse.navbar-ex-collapse
  %ul.nav.navbar-nav.side-nav
    %li
      %a
        %i.material-icons video_label
        Terminais
    %li
      %a
        %i.material-icons playlist_play
        Playlists
      %ul
        %li
          %a.withoutripple
            %i.material-icons featured_video
            Templates
    %li
      %a
        %i.material-icons video_library
        Biblioteca
      %ul
        %li
          %a.withoutripple
            %i.material-icons videocam
            Videos
        %li
          %a.withoutripple
            %i.material-icons insert_photo
            Imagens
    %li
      %a
        %i.material-icons rss_feed
        RSS Feeds
    %li
      %a
        %i.material-icons credit_card
        Fatura
